body {
  background-color: #22328a;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #33439b;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.sequencer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px auto;
  width: 960px;
  /*border: 5px solid white;*/
}

.tonecontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px auto;
  flex-wrap: wrap;
  width: 960px;
}

.tonebutton {
  background-color: midnightblue;
  margin: 5px;
  width: 50px;
  height: 50px;
}

.playbuttons {
  justify-content: center;
  margin: 20px auto;
}

#play-stop {
  background-color: transparent;
  border: 0px solid transparent;
}

.storage-interface {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 20px;
}

.input-bank {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-field {
  width: 300px;
  padding: 10px;
  border: 0px solid white;
  background-color: midnightblue;
  color: white;
}

.input-bank-button {
  margin-left: 10px;
  border: 0px solid white;
  background-color: midnightblue;
  color: white;
}

.
